<h1>All uploads</h1>

<div class="music-player-container">
	<iframe id="media_player" src=""></iframe>
</div>

<div class="container">

<div class="float-right p-2"><%= link_to '< Back to home', root_path %></div>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col"></th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>

			<% @uploads.each do |upload| %>
			<tr>
				<td><%= upload.name %></td>
				<td><button href="" id="play-button" data-original-link="<%= upload.url %>", class="btn btn-primary">Play</button></td>
				<td><%= link_to 'Delete', upload_path(@uploads, key: upload.name), method: :delete %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
