<h1>All uploads</h1>
<% @uploads.each do |upload| %>
	<div>
		<%= upload.name %>
		<iframe src="<%= upload.url %>"></iframe>
		<%= link_to 'Delete', upload_path(@uploads, key: upload.name), method: :delete %>
	</div>
<% end %>
